import * as JoiRouter from 'koa-joi-router';

import * as IGlobal from 'interfaces/global_interfaces';
import * as I{{ formated_name }} from 'interfaces/{{ name }}_interfaces';

const Joi = JoiRouter.Joi;

// @autoinject(name={{ name }}_contract)
export function contract_factory(
  u:IGlobal.Util,
) : I{{ formated_name }}.Contract {

  // const count_current_attendances:JoiRouter.Contract = {
  //   res: {
  //     200: {
  //       body:{
  //         count: Joi.number().integer().min(0).description('已预约课程数'),
  //       },
  //     },
  //   },
  //   story: {
  //     summary: '获取已预约课程数（包含已预约和上课中的课程）',
  //     description: '获取已预约课程数（包含已预约和上课中的课程）',
  //     tags: ['PC Client'],
  //   },
  // };

  return {
  };
}
