import * as JoiRouter from 'koa-joi-router';

import * as IGlobal from 'interfaces/global_interfaces';
import * as I{{ formated_name }} from 'interfaces/{{ name }}_interfaces';

const Joi = JoiRouter.Joi;

// @autoinject(name={{ name }}_contract)
export function contract_factory(
  u:IGlobal.Util,
) : I{{ formated_name }}.Contract {

  return {
  };
}
