import JoiRouter = require('koa-joi-router');

import * as IGlobal from 'interfaces/global_interfaces';
import * as {{'I' + formated_name }} from 'interfaces/{{ name }}_interfaces';

// @autoinject(name={{ name }}_controller)
export function controller_factory(
    u:IGlobal.Util,
) : I{{ formated_name }}.Controller {

  return {
  };
}
