import { Catastrophic, ErrorCat } from 'catastrophic';

const category = {
  unique_code: '',
  description: '{{ formated_name }} Error',
};

const errors = {
  // requested_release_data_does_not_exist: {
  //   unique_number: 0,
  //   http_code: 403,
  // },
};

export type {{ formated_name }}Cat = ErrorCat<typeof errors>;

// @autoinject(name={{ name }}_cat)
export function {{ name }}_cat(catastrophic:Catastrophic) : {{ formated_name }}Cat {
  return catastrophic.new_category(category, errors);
}
