import * as JoiRouter from 'koa-joi-router';

import * as IGlobal from 'interfaces/global_interfaces';
import * as I{{ formated_name }} from 'interfaces/{{ name }}_interfaces';

// @autoinject(name={{ name }}_router)
export function {{ name }}_router_factory(
  u:IGlobal.Util,
  auth_route_middleware:JoiRouter.JoiMiddleware,
  {{ name }}_controller:I{{ formated_name }}.Controller,
) : JoiRouter.RouterInstance {

  const api_prefix = u.cfg.origin_server.api_prefix;
  const router_prefix = api_prefix + '/{{ name | replace("_", "-")}}';

  const router = JoiRouter();
  router.prefix(router_prefix);

  return router;
}